.simulado-cards{
    overflow: auto;
    background: #4c4d4f;;

    .grupo-ano{
        display: grid;
        grid-template-columns: min-content min-content min-content min-content;
    }
    
    .ano{
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding: 20px 0;

        display: block;

    }

    .card{
        background: black;
        height: 90px;
        width: 110px;
        margin: 2em 1em;
        padding: 20px;
        display: inline-block;
        border-left: 5px solid #0000ff;
        border-radius: 15px;  
    
        .situacao{
            background: #FF5722;
            position: relative;
            top: -2.75em;
            left: 2.5em;
            padding: 20px 10px 10px 10px;
            display: block;
            max-width: -webkit-fit-content;
            max-width: -moz-fit-content;
            max-width: fit-content;
            margin: 0px;
            color: white;
            font-weight: bold;
            border-radius: 3px 0 0 0;
    
            &::before{
                content: "";
                border-top: 20px solid transparent;
                border-right: 20px solid #FF9800;
                margin: -1em auto;
                position: relative;
                display: block;
                left: -4.7em;
            }
        }
    
        .modalidade{
            color: #ffffff;
            display: inline-block;
            margin: auto;
            font-size: 2em;
            vertical-align: middle;
    
            span{
                font-weight: bold;
            }
        }
    
        .descricao{
            color: #ffffff;
            font-size: .75em;
        }
    
        &.indisponivel{
            background: #3e3d3d;
            border-left: 5px solid lightgray;
            

            .modalidade,
            .descricao{
                color: #5b5b5b;
            }

            .situacao{
                background: #808080;
                left: 5vw;

                &::before{
                    border-right: 20px solid #000000;
                    left: -6.5em;
                }
            }
        }
    }
}


@media only screen and (max-width: 620px) {
    .simulado-cards {
        max-height: 500vw;
        overflow: scroll;

        .grupo-ano{
            display: grid;
            grid-template-columns: auto auto;
        }
        
        .card{
            height: 25vw;
            width: 30vw;
            border-radius: 10px;
            margin: 2em .75em;
            
            .situacao{
                left: 10vw;
            }
        }
    }
}