<section class="simulado-cards">
    <div class="ano">
        2018
    </div>
    <div class="grupo-ano">
        <div class="card">
            <p class="situacao">ESTUDE</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>

        <div class="card indisponivel">
            <p class="situacao">05/05 - 15/05</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
        <div class="card">
            <p class="situacao">ESTUDE</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
    </div>

    <div class="ano">
        2017
    </div>

    <div class="grupo-ano">
        <div class="card indisponivel">
            <p class="situacao">05/05 - 15/05</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
        <div class="card">
            <p class="situacao">ESTUDE</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>

        <div class="card indisponivel">
            <p class="situacao">05/05 - 15/05</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
        <div class="card">
            <p class="situacao">ESTUDE</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>

        <div class="card indisponivel">
            <p class="situacao">05/05 - 15/05</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
        <div class="card">
            <p class="situacao">ESTUDE</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>

        <div class="card indisponivel">
            <p class="situacao">05/05 - 15/05</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
        <div class="card">
            <p class="situacao">ESTUDE</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>

        <div class="card indisponivel">
            <p class="situacao">05/05 - 15/05</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
        <div class="card">
            <p class="situacao">ESTUDE</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>

        <div class="card indisponivel">
            <p class="situacao">05/05 - 15/05</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
        <div class="card">
            <p class="situacao">ESTUDE</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>

        <div class="card indisponivel">
            <p class="situacao">05/05 - 15/05</p>
            <h2 class="modalidade">SIM <span>01</span></h2>
            <p class="descricao">GERAL1</p>
        </div>
    </div>

</section>