.menu-divisoes{
    font: 700 1em arial;
    color: #4a4a4a;
    padding: .75em 4rem;
    text-transform: uppercase;

    background: #262626;
    display: inline-flex;
    width: -webkit-fill-available;
    width: -moz-available;
    
    .ativa{
        color: white;
    }

    .questoes {
        text-align: center;
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 620px) {
    .menu-divisoes{
        padding: 3vw 15vw;
        font-size: .8em;
    }
}