.menu-simulado{
    color: white;
    font-size: 1.25em;
    padding: .75em 3rem .75em 3rem;

    background: #262626;
    display: inline-flex;
    width: -webkit-fill-available;
    width: -moz-available;

    .titulo{
        text-align: center;

        display: block;
        margin: auto;   
    }

    .voltar,
    .chat {
        color: #4a4a4a;
        text-align: right;
    
        display: inline-block;
    
        i::before{
            display: block;
    
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
}