.footer {
    background: #262626;
    color: white;
    padding: 10px;

    bottom: 0px;
    display: inline-flex;
    position: absolute;
    width: -webkit-fill-available;

    div{
        display: block;
        text-align: center;
        text-transform: uppercase;
        margin: auto;

        i{
            font-size: 2em;
            margin: 15px;
        }
    }
}


@media only screen and (max-width: 480px) {
    .footer{
        padding: 0px 0 10px 0;

        div{
            i{
                font-size: 1.5em;
            }
            p{
                font-size: .75em;
            }
        }
    }
}

@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 768px){
    .footer{
        padding: 5px;

        p {
            font-size: .75em;
        }
    }
} 