.footer {
    background: #262626;
    color: white;
    padding: 10px;

    bottom: -1px;
    display: inline-flex;
    position: absolute;
    width: -webkit-fill-available;
    width: -moz-available;
    
    a {
        color: inherit; 
        text-decoration: inherit; 
        display: block;
        margin: auto;
        div{
            text-align: center;
            text-transform: uppercase;
    
            i{
                font-size: 2em;
                margin: 15px;
            }
        }
    }
}


@media only screen and (max-width: 480px) {
    .footer{
        padding: 0px 0 10px 0;

        div{
            i{
                font-size: 5.5vw;
            }
            p{
                font-size: 2.75vw;
            }
        }
    }
}

@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 768px){
    .footer{
        padding: 5px;

        p {
            font-size: .75em;
        }
    }
} 