<section class="footer">
  <a href="/inicio">
    <div class="main">
      <i class="fas fa-home"></i>
      <p>Main</p>
    </div>
  </a>
  <a href="/simulado">
    <div class="treinamento">
      <i class="far fa-edit"></i>
      <p>Area de Treinamento</p>
    </div>
  </a>
  <a href="/qr-code">
    <div class="medcode">
      <i class="fas fa-qrcode"></i>
      <p>MEDCODE</p>
    </div>
  </a>
  <a href="/slide">
    <div class="slide">
      <i class="fab fa-slideshare"></i>
      <p>SLIDE DE AULA</p>
    </div>
  </a>
</section>