<section class="aulas">
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
  <div class="caixa-semana">
    <div class="campo-apostila">
      <p class="categoria">CLM</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
    <div class="caixa-informacoes">
      <p class="semana">Semana <span class="numero">01</span></p>
      <p class="dias">01/02 - 02/03</p>
    </div>
    <div class="campo-apostila">
      <p class="categoria">PED</p>
      <p class="edição">01</p>
      <p class="porcentagem-leitura">90%</p>
    </div>
  </div>
</section>