.aulas {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    max-height: 210vw;
    overflow: auto;

    .caixa-semana {
        display: inline-flex;
        background: #565555;
        border-radius: 10em;
        margin: 6px;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        justify-self: center;

        .campo-apostila {
            width: 4rem;
            height: 4rem;
            margin: 5px;
            background: red;
            border-radius: 50%;

            .categoria {
                display: block;
                text-align: center;
                margin: 15px 0 0 0;
            }

            .edição {
                text-align: center;
                display: block;
            }
            
            .porcentagem-leitura {
                text-align: center;
                font-size: .5em;
            }
        }

        .caixa-informacoes {
            width: min-content;
            display: inline-block;
            text-align: center;
           
            .semana {
                font-size: 0.75em;
                text-align: center;

                display: inline-block;
                margin: 5px 0px;

                .numero{
                    display: block;
                    font-size: 1.75em;
                    font-weight: bolder;
                }
            }

            .dias {
                display: inline-block;
                margin: 1em 0 0 0;
                width: max-content;
                font-size: .8em;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .aulas {
        grid-template-columns: auto auto;
        grid-gap: 5px;
        padding: 10px 0;

        .caixa-semana{
            margin: 4px;

            .campo-apostila {
                width: 13.5vw;
                height: 13.5vw;

                .categoria{
                    margin: 2vw 0 0 0;
                    font-size: 4vw;
                }
            }

            .caixa-informacoes{
                .semana{
                    font-size: 3vw;
                }
                .dias {
                    font-size: 2vw;
                }
            }
        }
    }
}