.aulas {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: #4c4d4f;
    max-height: 210vw;
    overflow: auto;

    .caixa-semana {
        background: #3e3e3e;
        justify-self: center;

        border-radius: 10em;
        box-shadow: inset 0px 0px 5px 5px #00000080;

        display: inline-flex;
        margin: 6px;

        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        .campo-apostila {
            color: rgb(19, 81, 94);
            font-size: 3vw;
            font-weight: bold;

            width: 10vw;
            height: 10vw;
            margin: 5px;
            background: #ffffff;
            border-radius: 50%;

            .categoria {
                display: block;
                text-align: center;
                margin: 15px 0 0 0;
            }

            .edição {
                text-align: center;
                display: block;
            }
            
            .porcentagem-leitura {
                text-align: center;
                font-size: .5em;
            }
        }

        .caixa-informacoes {
            color: #ffffff;
            text-align: center;

            display: inline-block;
            width: min-content;
           
            .semana {
                font-size: 2vw;
                text-align: center;

                display: inline-block;
                margin: 5px 0px;

                .numero{
                    display: block;
                    font-size: 1.75em;
                    font-weight: bolder;
                }
            }

            .dias {
                display: inline-block;
                margin: 1em 0 0 0;
                width: max-content;
                font-size: 1vw;
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .aulas {
        grid-template-columns: auto auto;
        grid-gap: 5px;
        padding: 10px 0;

        .caixa-semana{
            margin: 4px;

            .campo-apostila {
                width: 13.5vw;
                height: 13.5vw;

                .categoria{
                    margin: 2vw 0 0 0;
                    font-size: 4vw;
                }
            }

            .caixa-informacoes{
                .semana{
                    font-size: 3vw;
                }
                .dias {
                    font-size: 2vw;
                }
            }
        }
    }
}